_archived/*
documents/*
data/*
snkit/*
outputs/statistics/results_arcflows.csv
outputs/statistics/results_arcflows.csv
test.csv
_gpkg/electricity_networkv_v1.0.gpkg
outputs/statistics/results_arcflows.csv
_tmp/*
outputs/statistics/results_arcflows.csv
