linux/data/*
linux/jem/*
linux/outputs/*
linux/src/data/*
linux/src/outputs/*

__pycache__
.ipynb_checkpoints

_archived/*
documents/*
snkit/*
_tmp/*
_gpkg/*
jamaica-infrastructure/*
_gpkg/electricity_networkv_v1.0.gpkg

src/create_flow_data_v2.py

data/*
!data/adaptation
!data/costs_and_damages
!data/water

.DS_Store
